<div class="left-content">

</div>
<div class="container">
  <% @article.each do | article| %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= article.title %>
        <p/>
      </header>
      <div class="card-content">
        <div class="content">
          <%= article.body %>
          <br>
          <p class="time"><%= article.created_at.strftime("%m/%d %H:%M")%></p>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer>
    </div>
  <% end %>
</div>