/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "reset";

body{

}
.navbar {
  position: fixed;
  a {
    color: black;
  }
  }
.navbar-start {
  width: 100%;
}

.contents{
  padding-top:20px;
}
.left-content{
  float:left;
  width:300px;
  height:100vh;
  background-color: #2E2F30;
}
.right-content{
  height: 100vh;
  width: 100%;
  position: relative;
}
.pagination{
  box-shadow: none;
  width:80%;
  background : none;
  position: absolute;
  top: 800px;
  left:150px;
}
.pagination-next a{
  color:black;

}
.card {
  margin: 10px 20px auto;
}
.card-header-author{
 font-size:2px;
  padding: 5px 0 20px 5px;
}
.card-header-title{
  word-break : break-all;
}
.card-content {
    padding: 5px;
  }
.time{
  margin: 10px;
}
.current{
  background: #3273DC;
}