/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "reset";

.container{
  padding-top:20px;
  min-height: 960px;
}
.left-content{
  float:left;
  width:300px;
  height:960px;
  background-color: #2E2F30;
}
.right-content{
  width: calc(100% - 300px);
  float:right;
  position: relative;
}
.pagination{
  background : none;
  position: absolute;
  top: 880px;
}

.card {
  display: inline-block;
  margin: 0px 20px auto;
  width: 20%;
  float: right;
  min-width: 70%;

  .card-content {
    padding: 5px;
  }
}
body{

}
.navbar{
  position: absolute;
  top:0;
}
nav a{
  color: black;
}
.navbar-start{
  width: 100%;
}
.time{
  margin: 10px;
}
.current{
  background: #3273DC;
}